html,
body {
  background-color: #85b9dd;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: arial, sans-serif;
}
* {
  position: relative;
}

h1 {
  color: rgb(89, 0, 255);
  font-size: 30px;
  font-weight: 100;
  line-height: 28px;
  margin-left: 10px;
}
img {
  border-radius: 50%;
}
ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 10px;
  color: rgb(89, 0, 255);
  font-size: 20px;
  font-weight: 100;
  line-height: 19px;
}

li:first-letter {
  text-transform: capitalize;
}

.weather-app-wrapper {
  max-width: 900px;
  margin: 50px auto;
  margin-bottom: 20px;
  font-family: Cerebri-Sans, Helvetica, Arial, sans-serif;
  background: transparent blur;
  border-radius: 16px;
  box-shadow: 0 30px 50px rgb(65 50 100 / 8%);
  padding: 50px;
  color: black;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.weather-app {
  margin: 20px auto;
  border-radius: 5px;
}
#city-input {
  background-color: #fffdd0;
}
.overview {
  margin: 50px auto;
}

.weather-temperature img {
  margin-right: 5px;
  height: 64px;
  width: 64px;
}

.weather-temperature strong {
  color: rgb(33, 33, 33);
  font-size: 64px;
  line-height: 1;
  font-weight: 400;
}
.btn {
  background-color: black;
  color: #fffdd0;
}
.btn:hover {
  background-color: #fffdd0;
  color: black;
}
.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -34px;
}

.weather-temperature .active {
  cursor: default;
}

.weather-temperature .active:hover {
  text-decoration: none;
}

.weather-forecast {
  margin: 50px auto;
  text-align: center;
  color: white;
}

.weather-forecast-date {
  font-size: 16px;
  margin: 5px;
}
.weather-forecast-date img {
  animation: rotation 2s infinite linear;
}
.rotate {
  animation: rotation 5s infinite linear;
  animation-duration: 2s;
  animation-timing-function: ease-out;
  animation-delay: 0s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-fill-mode: none;
  animation-play-state: running;
  border-radius: 50%;
  margin: 10px;
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
    width: 60px;
  }
  to {
    transform: rotate(359deg);
    width: 45px;
  }
}
.weather-forecast-temperatures {
  font-size: 17px;
}

.bg-circles {
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  min-width: 500px;
  min-height: 500px;
}
.bg-circles div {
  position: absolute;
}
.bg-circles .c1 {
  height: 100%;
  width: 100%;
  top: 0;
  opacity: 0.7;
  position: relative;
  background: url(https://static.radulescu.me/examples/clouds/clouds1000.png);
  background: url(https://static.radulescu.me/examples/clouds/clouds1000.png) 0
      200px,
    url(https://static.radulescu.me/examples/clouds/clouds1200_1.png) 0 300px,
    url(https://static.radulescu.me/examples/clouds/clouds1000_blur3.png) 100px
      250px;
  animation: wind 20s linear infinite;
}

@keyframes wind {
  0% {
    background-position: 0 200px, 0 300px, 100px 250px;
  }
  100% {
    background-position: 1000px 200px, 1200px 300px, 1100px 250px;
  }
}
